body {
    background-color: black;
}
.pop-up {
    color: white;
    right: 20px;
    position: absolute;
    margin-left: 300px;
    top: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    right: 20px;
}
.buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 290px;
    height: 0px;
}
.button-1 {
    margin-top: 200px;
    background-color: rgb(170, 170, 170);
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    font-size: 25px;
    font-family:'Varela Round', sans-serif;
    border: none;
    margin-left: 10px;
    
}
.buttons-2 {
    display: flex;
    flex-direction: row;
    margin-top: 160px;
    height: 90px;
}
.buttons-3 {
    display: flex;
    flex-direction: row;
    height: 90px;
}
.buttons-4 {
    display: flex;
    flex-direction: row;
    height: 90px;
}
.buttons-5 {
    display: flex;
    flex-direction: row;
}
.button-2 {
    margin-top: 200px;
    background-color: rgb(255, 170, 0);
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    font-size: 25px;
    font-family: 'Varela Round', sans-serif;
    border: none;
    margin-left: 10px;
    color: white;
}
.number-7 {
    margin-top: 200px;
    background-color: rgb(255, 170, 0);
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    font-size: 20px;
    font-family:'Varela Round', sans-serif;;
    border: none;
    margin-left: 10px;
    color: white;
    margin-bottom: 30px;
}
.button-3 {
    background-color: rgb(51, 51, 51);
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    font-size: 30px;
    font-family: 'Varela Round', sans-serif;
    border: none;
    margin-left: 10px;
    color: white;
}
.button-3 {
    background-color: rgb(51, 51, 51);
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    font-size: 30px;
    font-family: 'Varela Round', sans-serif;
    border: none;
    margin-left: 10px;
    color: white;
}
.button-4 {
    background-color: rgb(255, 170, 0);
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    font-size: 25px;
    font-family:'Varela Round', sans-serif;;
    border: none;
    margin-left: 10px;
    color: white;
    margin-bottom: 30px;
}
.button-5 {
    background-color: rgb(51, 51, 51);
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    font-size: 30px;
    font-family: 'Varela Round', sans-serif;
    border: none;
    margin-left: 10px;
    color: white;
}
.button-6 {
    background-color: rgb(255, 170, 0);
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    font-size: 25px;
    font-family:'Varela Round', sans-serif;;
    border: none;
    margin-left: 10px;
    color: white;
    margin-bottom: 30px;
}
.button-7 {
    background-color: rgb(51, 51, 51);
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    font-size: 30px;
    font-family: 'Varela Round', sans-serif;
    border: none;
    margin-left: 10px;
    color: white;
}
.button-8 {
    background-color: rgb(255, 170, 0);
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    font-size: 25px;
    font-family:'Varela Round', sans-serif;;
    border: none;
    margin-left: 10px;
    color: white;
    margin-bottom: 30px;
}
.button-9 {
    background-color: rgb(51, 51, 51);
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    font-size: 30px;
    font-family: 'Varela Round', sans-serif;
    border: none;
    margin-left: 10px;
    color: white;
    padding-right: 160px;
}
.Zero {
    margin-left: 20px;
    margin-top: 20px;
}
.button-10 {
    background-color: rgb(51, 51, 51);
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    font-size: 30px;
    font-family: 'Varela Round', sans-serif;
    border: none;
    margin-left: 10px;
    color: white;
}
.button-11 {
    background-color: rgb(255, 170, 0);
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    font-size: 25px;
    font-family:'Varela Round', sans-serif;;
    border: none;
    margin-left: 10px;
    color: white;
    margin-bottom: 30px;
}
.margin {
    margin-top: 0px;
}
@media(max-width:720px) {
    .button-1 {
        height: 160px;
        width: 160px;
        font-size: 40px;
    }
    .button-2 {
        height: 160px;
        width: 160px;
        font-size: 40px;
    }
    .button-3 {
        height: 160px;
        width: 160px;
        font-size: 40px;
    }
    .button-4 {
        height: 160px;
        width: 160px;
        font-size: 40px;
    }
    .button-5 {
        height: 160px;
        width: 160px;
        font-size: 40px;
    }
    .button-6 {
        height: 160px;
        width: 160px;
        font-size: 40px;
    }
    .button-7 {
        height: 160px;
        width: 160px;
        font-size: 40px;
    }
    .button-8 {
        height: 160px;
        width: 160px;
        font-size: 40px;
    }
    .button-9 {
        height: 160px;
        width: 160px;
        font-size: 40px;
        height: 150px;
        width: 90px;
        padding-right: 340px;
    }
    .button-10 {
        height: 160px;
        width: 160px;
        font-size: 40px;
        
    }
    .button-11 {
        height: 160px;
        width: 160px;
        font-size: 40px;
    }
    .buttons {
        height: 80px;
    }
    .buttons-2 {
        height: 170px;
    }
    .buttons-3 {
        height: 170px;
    }
    .buttons-4 {
        height: 170px;
    }
}
@media(max-width: 445px) {
    .button-1 {
        height: 90px;
        width: 90px;
        font-size: 30px;
    }
    .button-2 {
        height: 90px;
        width: 90px;
        font-size: 30px;
    }
    .button-3 {
        height: 90px;
        width: 90px;
        font-size: 30px;
    }
    .button-4 {
        height: 90px;
        width: 90px;
        font-size: 30px;
    }
    .button-5 {
        height: 90px;
        width: 90px;
        font-size: 30px;
    }
    .button-6 {
        height: 90px;
        width: 90px;
        font-size: 30px;
    }
    .button-7 {
        height: 90px;
        width: 90px;
        font-size: 30px;
    }
    .button-8 {
        height: 90px;
        width: 90px;
        font-size: 30px;
    }
    .button-9 {
        height: 90px;
        width: 90px;
        font-size: 20px;
        height: 90px;
        width: 90px;
        padding-right: 180px;
    }
    .button-10 {
        height: 90px;
        width: 90px;
        font-size: 30px;
        
    }
    .button-11 {
        height: 90px;
        width: 90px;
        font-size: 30px;
    }
    .buttons {
        height: 10px;
    }
    .buttons-2 {
        height: 100px;
    }
    .buttons-3 {
        height: 100px;
    }
    .buttons-4 {
        height: 100px;
    }
}
@media(max-width: 320px) {
    .button-1 {
        height: 60px;
        width: 60px;
        font-size: 50px;
    }
    .button-2 {
        height: 60px;
        width: 60px;
        font-size: 20px;
    }
    .button-3 {
        height: 60px;
        width: 60px;
        font-size: 20px;
    }
    .button-4 {
        height: 60px;
        width: 60px;
        font-size: 20px;
    }
    .button-5 {
        height: 60px;
        width: 60px;
        font-size: 20px;
    }
    .button-6 {
        height: 60px;
        width: 60px;
        font-size: 20px;
    }
    .button-7 {
        height: 60px;
        width: 60px;
        font-size: 20px;
    }
    .button-8 {
        height: 60px;
        width: 60px;
        font-size: 20px;
    }
    .button-9 {
        height: 60px;
        width: 60px;
        font-size: 20px;
        height: 60px;
        width: 60px;
        padding-right: 140px;
    }
    .button-10 {
        height: 60px;
        width: 60px;
        font-size: 20px;
        
    }
    .button-11 {
        height: 60px;
        width: 60px;
        font-size: 20px;
    }
    .buttons{
        height: 110px;
        margin-bottom: 0px;
    }
    .buttons-2 {
        height: 70px;
    }
    .buttons-3 {
        height: 70px;
    }
    .buttons-4 {
        height: 70px;
    }
}